.content{width:1400px;margin:115px auto 0;position:relative;height:auto;overflow:hidden;}
.con-top{height:570px;position:relative;}
.con-top ul{overflow:hidden;}
.con-top ul li{float:left;}
/*indexjavascript*/
.con-btn ul li a:hover,.con-top ul li a:hover{opacity: 0.5;border:5px solid #d1ab6d;box-sizing:border-box;}
/*indexjavascript*/
/*content-top*/
.right-picbottom span,.right-pictop span,.left-pic span,.con-picright span,.con-picleft span{position:absolute;left:28px;bottom:23px;color:#fff;text-decoration: none;font-size: 48px;font-weight: bold;}
.right-picbottom span em,.right-pictop span em,.left-pic span em,.con-picright span em,.con-picleft span em{font-family: "Gabriola";position:absolute;top:-10px;top:-25px\0;}

.con-picleft,.con-picright{height:570px;display:block;background-repeat: no-repeat;position:relative;}
.con-picleft{width:572px;background:url(../img/home.png);}
.con-picright{width:828px;background:url(../img/zhubao.png);}.memberMove li.memberMove li i.right-picbottom span,.right-pictop span,.con-picright span{left:auto;right:37px;}
.right-picbottom span em,.right-pictop span em,.con-picright span em{left:12px;}
/*con-btn*/
/*left-pic*/
.con-btn ul li{float:left;}
.left-pic {width:572px;background:url(../img/gem.png);height:789px;display:block;background-repeat: no-repeat;position:relative;}
.left-pic span{top:10px;left:auto;right:35px;}
.left-pic span em{right:0;left:auto;}
/*right-pic*/
.right-pic{width:828px;height:572px;position:relative;}
.right-pictop,.right-picbottom{display:block;width:828px;}
.right-pictop{background:url(../img/diamo.png) no-repeat;height:384px;position:relative;}
.right-pictop span em{left:22px;}
.right-picbottom{background:url(../img/company.png) no-repeat;height:405px;position:relative;}
.right-picbottom span em{left:21px;}
/*aboutkabaodi*/
.companyProfile{width:1400px;margin:110px auto 0;overflow:hidden;}
.companyProfile ul li{float:left;}
.companyProfile ul li a{display:block;background:url(../img/about/kbd.jpg);width:462px;height:463px;}
.companyProfile ul li dl{width:900px;margin-left:20px;}
.companyProfile ul li dl dt{font-size:30px;color:#fff;font-weight: bold;border-left: 15px solid #d1ab6d;padding-left:15px;text-align:left;line-height: 34px;line-height: 39px\0;}
.companyProfile ul li dl dt em{font-family: "Gabriola";}
.companyProfile ul li dl dd{color:#fff;font-size:25px;line-height:60px;text-indent: 2em;margin-top:45px;}
/*line*/
.yellowline{width:1400px;margin:50px auto 21px;}
.yellowline li{border-top:3px solid #d1ab6d;margin-top:5px;}
.setput{margin:20px auto 21px;}
/*居中*/
.insertion{margin: 0 auto;}
/*三角形*/
.setput li.triangle{position:relative;width:1400px;}
.setput li i{position:relative;}/*三角行 */

/*@-moz-document url-prefix(){.setput li i{top:0px;}}*//*针对火狐的*/
.setput li i span,.setput li i em{
    width:0;
    height:0;
    border-width: 15px;
    border-color:#d1ab6d transparent transparent transparent;
    border-style: solid dashed dashed dashed;
    position:absolute;
    top:0;
    left:0;
    display:block;}
.setput li i span{
    border-top-color:#211f20;top:-3px;
}
.severdefinition,.definition{
    width:1340px;height:2085px;margin:50px auto 0;background: #2f2d2e;position:relative; }
    
.tabBar .pagination{float:none;}
.severdefinition h2 span,.definition h2 span{font-family: "微软雅黑";}

/*tp*/
.con01{margin-top:60px;height:400px;}
.con01-font{float:right;margin-left: 90px;width:429px;margin: -450px 55px;font-size: 30px;line-height: 60px;color:#fff;}
.yellowline02,.yellowline01{width:429px;margin:10px auto ;}
.yellowline02 li,.yellowline01 li{border-top:3px solid #d1ab6d;margin-top:5px;}
.con01-font em{color:#d1ab6d;}
.con01-font em strong{font-size: 48px; font-weight: bold;}

/*con02*/
.con02{margin-top:160px;text-align: center;line-height: 60px;font-size:30px;color:#fff;width:550px;float:left;position:relative;height:550px;}
.con02 h3{color:#d1ab6d;font-size: 48px;font-weight: bold;width:500px;}
.yellowline02{width:500px;text-align: center;}
.yellowline02 .cancelline{border-top:0px solid #fff;}
.con02 .setfont{margin-top:100px;}

.con02-font p{width:270px; text-align: center;position:absolute;left:50%;margin-left:-135px;}
.con02-font span{margin-left:-33px;}
.con02tp{position:absolute;left:560px;top:0;}

/*con03*/
.con03{width:1400px;text-align: center;font-size: 30px;clear:both;line-height: 60px;}
.con03tp{width:1332px;margin:50px auto 0;}
/*aboutEnd*/
/*loginstart*/
.memberEnter{width:870px;height:470px;margin:150px auto;}
.memberEnter h3{font-size:40px;font-weight: bold;color:#d1ab6d;text-align: center;}
/*.memberEnter ul{margin:90px 0 0 0;}*/
.memberEnter ul li{float:left;}
.memberEnter .loginTbale{margin-left:70px;margin-top:-60px;position:relative;}
.memberEnter .loginTbale input{border:1px solid #726c76;background: #211f20;color:#fff;height:30px;width:300px;} 
.memberEnter .loginTbale input.yanzhengma {width:150px;}
.verificationCode{position:absolute;right:70px;}
.loginTbale .verificationCode a{left:100px;top:10px;position:absolute;width:150px;color:#d1ab6d;}
.loginTbale tfoot em{position:absolute;top:165px;left:113px;color:#fff;font-size:10px;top:210px\0;font-size:12px\0;}
.bottmbut input.affirmBut {border-radius: 3px;background:#d1ab6d;color:#000;width:230px;height:30px;position:absolute;left:50%;margin-left:-80px;}
.bottmbut a.forgetPws{position:absolute;right:2px;bottom:-25px;color:#aa987b;text-decoration:underline;}
.bottmbut{margin-top:30px;position:relative;color:#fff;}
/*loginend*/

/*serveShowstart*/
.serve-show{width:1400px;margin:150px auto 0;position:relative;height:1500px;/*background: #fff url() 0 0 no-repeat;*/}
.broadsideNav{width:240px;height:750px;background: #2f2d2e;position:absolute;}
.broadsideNav ul li h3{width:240px;height:100px;background: #211f20;text-align: center;line-height: 100px;margin-top:20px;}
.broadsideNav ul li a{display:block;width:240px;height:100px;text-align: center;font-size: 18px;font-family: "微软雅黑";line-height: 100px;text-decoration: none;color:#d1ab6d;}
.broadsideNav ul li a:hover{background: #211f20;}

.broadsideNav ul li.curSet{width:240px;height:100px;background:#211f20;}

.product{margin-left:300px;}
.product ul{width:1475px;}
.product ul li{float:left;margin:0 50px  30px 0;width:319px;height:430px;}
/*js图片*/
/*.leftpic{
    background:url(/assets/img/serve/but.png);
    background:
}*/
/*js图片*/
/*js效果图*/
.curmouseMove{position:relative;width:319px;height:430px;background: #000;opacity:0.7;}
/*js效果图*/
.tabBar ol li{float:left;}
.tabBar ol li+li{margin-left:15px;}
.tabBar .sevrightBut,.tabBar .sevleftBut{background:  url(../img/serve/but.png) 0 0 no-repeat;width:22px;height:22px;position:absolute;cursor:pointer;}
.tabBar .sevrightBut{background-position: -23px 0;}
.tabBar .pagination li:last-child a,.tabBar .pagination li:last-child,.tabBar .pagination li:first-child a,.tabBar .pagination li:first-child {
background:  url(/assets/img/serve/but.png)  no-repeat;width:22px;height:22px;cursor:pointer;display:block;border:none;
background-repeat: no-repeat;
}
.tabBar .pagination li:last-child{
margin-top:9px;
margin-left:30px;
width:20px;
}
.tabBar .pagination li:first-child a{
    width:15px;
    
}
.tabBar .pagination li:first-child{
    margin-top:10px;
    
}
.tabBar .pagination li:last-child a,.tabBar .pagination li:last-child{
background-position:center right;
}
.tabBar ul{margin-top:3px;}
.tabBar ul li{float:left;margin-left:20px;width:18px;height:18px;border:1px solid #211f20;text-align: center;line-height:18px;cursor:pointer;}
.tabBar ul li.curInter{width:18px;height:18px;border:1px solid #dba757;}
/*serveShowend*/
.pagination li:last-child span,.tabBar .pagination li:first-child span{
    display:none;
}
/*serveBD02Start*/
.severdefinition{height:auto;overflow:hidden ;width:100%;}
.severdefinition img{position:relative;z-index: 1;}
.servebgline{position:absolute;background:url(../img/serve/yellowline.png) no-repeat;width:100%;left:50px;top:0;height:auto;}
.serveTitle{overflow:hidden;}
.putLine{margin-top:17px;}
.serveBD02top{margin:75px auto 0;}

.sever02Box03,.sever02Box02,.serveBD02-pathone{font-size:22px;margin:-380px 60px; width:600px;width:595px\0;}
.serveBD02-pathone em{color:#d1ab6d;text-transform:uppercase;}
.serveBD02-pathone p{font-weight: bold;font-size: 40px;line-height: 45px;}
.serveBD02-pathone span{line-height:50px;display:block;margin-top:30px;font-family: "微软雅黑";}

/*box02*/
.sever02{width:100%;height:auto;color:#fff;margin: 30px auto 0;position:relative;}
.sever02Box02{margin:0;position:absolute;top:60px;}
.sever02-box02-pic{float:right;}

/*box03*/
.severcon03{height:705px;position:relative;}
.sever02Box03{margin:0px;position:absolute;right:0;top:100px;}

.sever03line{font-family: "微软雅黑";margin-top:40px;color:#d1ab6d;width:580px;font-size: 40px;}
.sever03line h3{font-weight:normal;}

/*box04*/
.serveBD02-pathone .serBottnonFonts{margin-top:0px;font-size: 30px;width:530px;text-align: center;color:#d1ab6d;margin-left:40px;}
/*serveBD02End*/

/*registerpagestart*/
.registerpage{height:650px;width:980px;}
.memberEnter .registerTable{margin-top: -130px;}
.registerTable tfoot em{top:375px;font-size: 10px;top:510px\0;}

.agreement{margin-left:200px;margin-top: 30px;}
.bottmbut input.severBut{width:150px;margin-left: 2px;}
/*registerpageend*/

/*contentStart*/
.contactBit{width:1400px;height:700px;position:relative;}
.openMap{width:240px;height:40px;background: #d1ab6d;border-radius: 3px;color:#000;text-align: center;line-height: 40px;font-family: "微软雅黑";margin-top:10px;position:absolute;cursor:pointer;font-weight: bold;}
.conRightBox{margin-left:80px;width:741px;height:550px;}
.conInformation dl{position:absolute;line-height:40px;margin:60px 30px;font-size: 23px;}
.conMap{float:right;margin:20px 0px;}
/*contentEnd*/

/*industryInformation*/
.industryCenter{width:1400px;margin:0 auto;}

/*.industryHeight{margin-top:752px;}*/
.industryHeight h3{text-align: center;font-size: 60px;font-weight: bold;}


.hangyeMargin{margin-top:-100px;}

.industryCon01{margin-top:30px;height:1000px;position:relative;width:1400px;}

.industryCon01 p{width:1188px;line-height: 30px;text-align: center;font-size: 18px;color:#989797;margin: 30px auto 0;}
.journalisticMetion,.industryCon01 .getInformation{width:160px;height:53px;text-align: center; border:3px solid #dba757;color:#dba757;line-height: 53px;cursor:pointer;display:block;margin: 50px auto 0;}

ul#curObject {float:right;}
.pagination,#curObject{margin-top:40px;float:right;}
/*industryInformation*/

/*journalistic activities新闻活动start*/
.industrycont{width:1370px;margin:70px auto;height:550px;}
.industrycont ul{width:8000px;}
.industrycont ul li{height:300px;width:668px;float:left;margin-left:30px;}
.industrycont ul li dl{color:#fff;font-family: "微软雅黑";font-size: 20px;font-weight: bold;float:left;width:600px;margin:0 auto;margin-left:34px;}
.industrycont ul li dt{margin:25px 0 ;}
.industrycont ul li dd{color:#989797;font-size:15px;text-indent: 2em;width:550px;margin:0 auto;}

.pagination>li>a:hover,.pagination>.disabled>span:hover,.pagination>.active>span, .pagination>.disabled>span,.pagination>li>span,.pagination>li>a{
    background-color:#211f20;
    border:none;
    color:#fff;
}

.pagination>.active>span{
    border:1px solid #dba757;
}
.industrycont ul li dd.journalisticMetion{
    float:right;width:90px;border:1px solid #dba757;text-align:center;height:35px;line-height: 35px;overflow:hidden;text-indent: 0;color:#dba757;margin-top: 20px;}
.industrycont .bottomNav{width:220px;height:50px;float:right;margin-top:320px;margin-right:-130px;cursor:pointer;}   
.pagination li,ul#curObject li,.industrycont .bottomNav li{width:22px;height:22px;float:left;color:#fff;font-size: 14px;border:1px solid #211f20;text-align:center;line-height: 20px;margin-left: 22px;cursor:pointer;}   
ul#curObject li.curwaikuang,.industrycont .bottomNav li.curborder{border:1px solid #dba757; width:22px; height:22px;position:relative;}
/*外框*/
/*journalistic activities新闻活动end*/

/*会员中心Member Center start*/
.personalTable{width:1400px;height:640px;margin:0 auto;position:relative;}
.personalTable ul{width:1400px;height:1000px;}

/*.personalTable ul li{float:left;}*/
h3.memberCenterFont{width:1400px;margin:0 auto;text-align: center;font-family: "方正姚体简体";font-size: 50px;position:relative;top:150px;}
.memberCenter{margin-top:300px;}
.memberCenter ol li{float:left;margin-left: 20px;}
.memberCenter ol li a{font-size:30px;color:#dba757;font-weight: bold;}
/*.memberMove li i {left:6%;}  三角形*/  

.personalTable .headline{font-size: 30px;color:#dba757;font-weight: bold;position:relative;left:15px;}
.memberDateTable{width:500px;height:400px;margin-left: 110px;margin-top: 40px;font-family: "方正姚体简体";}
.memberDateTable li{margin-top:30px;font-size: 20px;}
.memberDateTable li a{float:right;text-decoration: underline;color:#d9d9d9;}

.rightLogoPic{position:absolute;right:200px ;top:40px;}

.curfile{border:0;margin-top:10px;margin-left: 20px;}

.handDate{background: #d1ab6d;border-radius: 3px;height:30px;width:150px;color:#000;position:relative;left: 50%;margin-left:-75px;}
/*会员中心Member Center end*/

/*售后服务start*/
.saleServe li i{left:200px;}
.personalText{border:1px solid #726c76;background: #211f20;color:#fff;}

.personalTableMove{margin:100px 150px;}

.SubperTable{border:0;width:130px;height:30px;background:#d1ab6d;color:#211f20;border-radius: 3px;position:relative;left:50%;margin-left: -65px;font-weight: bold;cursor:pointer;}
/*售后服务end*/


/*地图start*/
.conRightBox .curmap{width:741px;height:281px;}
/*地图end*/

/*小三角*/
.seversanjiao{display:none;}
.huiyuansanjiao{display:block;}
/*nav*/
/*prodctsconten*/
.pro-line{border:1px solid #d1ab6d;margin-bottom:5px;}
.pro-play{background: #211f20;width:100%;}
.pro-play .pro-img{width:100%;margin-top:100px;}
.pro-play span{float:left;margin-left:1px;display:block;margin-left:8px;}
#pro-content{margin-bottom:100px;}
.pro-play img{float:left;}

.productDot li{float:left;border-radius:50%;border: 1px solid #fff;margin-left:4px;}
/*.memberEnter ul{margin:50px 0;}*/ 
.productDot{width:100%;margin-top: 10px;}
.control-label span{margin-right:5px}