.bottom{margin-top:140px;width: 100%;height:320px;background: #2f2d2e;}
.copyright{width:1400px;margin:0 auto;position:relative;height:320px;}

.copyright ul{position:absolute;left:20%;top:31%;}
.copyright ul li{float:left;}
.copyright dl{color:#f2ecb8;font-family: "微软雅黑";}
.copyright dt{font-size: 25px;font-weight: bold;line-height:59px;}
.copyright dd{font-size: 18px;line-height: 35px;}

.copy-right{margin-left:100px;}
.copyright p.fonts{margin: 131px 0 0 20px;font-size: 18px;font-family: "微软雅黑";}
