.nav{background: #2f2d2e;height: 110px;width:100%;position:relative;z-index: 2;}
/*logo优化*/
h1.logo{background:  url(../img/logo.png) no-repeat;height:94px;}
h1.logo a{text-indent: -9990px;overflow: hidden;width:224px;height:94px;display:block;}
/*版心*/
.head{width:1400px;height:110px;line-height: 110px;margin:0 auto;}
@media only screen and (max-width:768px ) {
	.head {
		width: 100%;
	}
}
.head h1{float: left;margin-top:10px;}
.head ul{float:right;}
.head ul li{float:left;}
.head ul li a{display:block;width:120px;height:110px;line-height: 110px;color:#d1ab6d;text-align: center;text-decoration: none;}
.head ul li a:hover{background: #211f20;}

/*当前状态栏*/
.curClass{width:120px;height:110px;background:#211f20;}
.curClass2{width:120px;height:110px;background:#211f20;}
/*navjsstart*/
.news{position:relative;}
.news ul{width:240px;height:50px;background: #2f2d2e;position:absolute;z-index: 1;border-radius: 5px;margin-top:-1px;display:none;}
.news ul li{float:left;}
.news ul li a{height:50px;width:120px;border-radius: 5px;line-height: 50px;text-align: center;}
.news ul li a:hover{background: #fff;color:#000;/*filter：alpha(opacity=50);*/}
/*navjsend*/
/*banner*/
.banner{position:relative;width:1920px;height:840px;overflow:hidden;z-index: 1;left:50%;top:0;margin-left:-960px;}

.banner ul li a {display: block;}
.banner ul li {position:absolute;}

.curNav{width:120px;height:110px;background:#211f20;}

/*注册页面*/
div.enterLogin{/*width:120px;*/height:60px;background: #5d5851;position:absolute;right:0px;top:-30px;overflow:hidden;border-bottom-left-radius: 20px;padding:0 12px}


.enterLogin a{color:#fff;margin-left:10px;margin-top: -5px;display:inline-block;font-size: 18px;font-family: "方正姚体简体";color:#fff;text-decoration: none;}
.enterLogin-top{line-height: 90px;/*margin-left:12px*/}