@charset "utf-8";
/*mobile*/
/*customization*/
h2.titleline{ border-left:5px solid #d1ab6d;padding-left:20px;}


.tabBar ol{width:200px; margin:0 auto;position:relative;}
/*#cusline{background:url(../img/design/bgline.png);width:100%;display:block;position:absolute;z-index: 1;height:100%}*/
.pro-pic{
    width:100px;
    height:100px;
}

html{font-size: 0.65%;}
.navbar{margin-bottom: 0px;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a{color:#d1ab6d;}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{background: #211f20 ;color:#fff;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:transparent;}
.navbar-default{border-color:transparent;}
#content .subdiv,#content .col-sm-7,#content .col-sm-5{box-shadow: 0px 10px 5px #0d0c0c;}
.userput{color:#d1ab6d;}
.navbar-default .navbar-toggle{border-color:#d1ab6d;}
.navbar-default .navbar-toggle .icon-bar{background-color:#d1ab6d;}
#pro-phone-nav div{background:#2f2d2e;margin-bottom:1px;height:40px;line-height: 40px;padding-top:3px;}
#pro-phone-nav div a{color:#d1ab6d;}
#pro-phone-nav .phone-cur a{background: #211f20;display:block;height:40px;}
.file-box{ position:relative;} 
.txt{ height:22px; border:1px solid #cdcdcd; width:180px;} 
.btn{ background-color:#FFF; border:1px solid #CDCDCD;height:30px;margin-top:6px;} 
.file{ position:absolute; top:0; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0; ;margin-top:6px;} 

/*mobile*/
/*首页start*/
/*pc*/

.head {
	width: 72.92%;
}

.nav {
	height: auto;
	/*overflow:hidden;*/
}

.enterLogin {
	/*width: auto;*/
}

#content {
	margin: 7.5% 0;
}

#content .col-my-4 p {
	margin: 0;
}

.ct-container {
	padding: 0 13.5%;
}

.col-my-4,
.col-my-6,
.subdiv {
	padding: 0;
	position: relative;
}
.pro-item a,
.col-my-4 a,
.col-my-6 a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.brand,
.newinfo,
.vip,
.customize,
.contact {
	position: absolute;
	font-size: 48px;
	color: #fff;
	font-weight: bold;
	z-index: 101;
}

.brand {
	left: 1%;
	bottom: 4%;
}

.newinfo,
.vip,
.contact {
	right: 3.6%;
	bottom: 4.8%;
}

.customize {
	top: 5%;
	right: 3.5%;
	text-align: right;
}

.title-en {
	font-family: "Gabriola";
}

.brand .title-en {
	padding-left: 10%;
	line-height: 48px;
}

.title-cn {
	font-family: "方正姚体简体";
}

.col-my-4 {
	width: 40.857% !important;
}

.col-my-6 {
	width: 59.143% !important;
}

.mask {
	position: absolute;
	background-color: #000;
	left: 0;
	top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0.5;
	border: 5px solid #d1ab6d;
	display: none;
	z-index: 100;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

.bottom {
	height: auto;
}

.copyright {
	width: 100%;
	padding: 0 13.5%;
	position: static;
	height: 22.86%;
	padding-bottom: 3.57%;
}

.copyright ul {
	position: static;
	padding-left: 17.14%;
	overflow: hidden;
}

.copyright ul li {
	display: inline-block;
}

.copyright p.fonts {
	margin: 0;
}

.qr-text {
	margin-top: 13.43%;
	margin-left: 2.5%;
}

.copyright .contact-info {
	margin-top: 5.71%;
}

.copy-right {
	width: 14.28%;
	margin-left: 7.14%;
	margin-top: 5.28%;
}

.curClass {
	width: auto;
}
.tabBar{
	position:relative;margin:88px auto ;
}
@media only screen and (min-width: 768px) {
	.xs-menu {
		display: none !important;
	}
	

}

@media only screen and (max-width: 1400px) {
	.brand,
	.newinfo,
	.vip,
	.customize,
	.contact {
		font-size: 36px !important;
	}
	
	.head {
		width: 80%;
	}
	.copyright dt {
		font-size: 20px;
		line-height: 45px;
	}
	
	.copyright dd {
		font-size: 15px;
		line-height: 25px;
	}
	
	.copyright p.fonts {
		font-size: 15px;
	}
	
	.qr-text {
		margin-top: 12.5%;
	}
	.tabBar{padding:0 270px;}
}

@media only screen and (max-width: 1280px) {
	.brand,
	.newinfo,
	.vip,
	.customize,
	.contact {
		font-size: 30px !important;
	}
	
	.head {
		width: 90%;
	}
	
	.head ul li a {
		width: 100px;
	}
	
	.copyright dt {
		font-size: 18px;
		line-height: 40px;
	}
	
	.copyright dd {
		font-size: 14px;
		line-height: 22px;
	}
	
	.copyright p.fonts {
		font-size: 14px;
	}
	
	.qr-text {
		margin-top: 11.5%;
	}
	.tabBar{padding:0 265px;}
}

@media only screen and (max-width: 992px) {
	.brand,
	.newinfo,
	.vip,
	.customize,
	.contact {
		font-size: 24px !important;
	}
	
	.head {
		width: 95%;
	}
	
	.head ul li a {
		width: 80px;
		font-size: 14px;
	}
	
	.copyright dt {
		font-size: 15px;
		line-height: 30px;
	}
	
	.copyright dd {
		font-size: 12px;
		line-height: 18px;
	}
	
	.copyright p.fonts {
		font-size: 12px;
	}
	
	.qr-text {
		margin-top: 11.5%;
	}
	
	.copyright ul {
		padding-left: 10%;
	}
	
}

@media only screen and (max-width: 768px) {
	.brand, .newinfo, .vip, .customize, .contact {
		font-size: 36px !important;
	}
	
	.xs-menu li a {
		display: block;
		width: 100%;
		text-align: left;
		height: auto;
		padding: 5px 10px;
		text-decoration: none;
		color:#d1ab6d;
	}
	
	.col-my-4,
	.col-my-6 {
		width: 100% !important;
	}
	
	.xs-menu li a:hover {
		background-color: #fff;
		color: #000;
	}
	
	.nav {
		height: auto;
	}
	
	.curClass {
		/*width: 100%;index.html*/
		height: auto;
	}
	
	.copyright ul {
		padding-left: 0;
	}
	
	.copyright {
		width: 100%;
		height: auto;
		position: static;
	}
	
	.copyright ul {
		position: static;
		left: 0;
	}
	
	.copyright ul li {
		width: 100%;
		text-align: center;
		margin-top: 5px;
	}
	
	.copyright img {
		margin: auto;
	}
	
	.bottom {
		height: auto;
	}
	
	.copyright p.fonts,
	.copy-right {
		margin: 0;
	}
	
	.copy-right {
		margin: auto;
	}
	
	.copy-right img {
		width: 50% !important;
	}
	.tabBar{padding:0 120px;}
}
/*首页end*/

/*新闻活动start*/
.topic-img {
	width: 100%;
}

.ct-activity {
	margin-top: 3.12% !important;
	width: 72.91%;
	margin-left: auto;
	margin-right: auto;
}

.companyProfile {
	width: 100%;
	margin: 0;
}

.setput li.triangle,
.yellowline,.yellowline01 {
	width: 100%;
}

.ct-activity dl {
	color: #fff;
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight: bold;
	float: left;
	margin: 0 auto;
	padding: 0 3%;
}

.ct-activity dt {
	margin: 25px 0;
}

.ct-activity dd {
	color: #989797;
	font-size: 15px;
	text-indent: 2em;
	margin: 0 auto;
}

.ct-activity dd.journalisticMetion {
	float: right;
	width: 90px;
	border: 1px solid #dba757;
	text-align: center;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	text-indent: 0;
	color: #dba757;
	margin-top: 20px;
}

.ct-activity .info-item {
	margin-top: 5%;
	overflow: hidden;
}
/*新闻活动end*/

/*行业资讯start*/
.ct-action {
	margin-top: 3.12% !important;
	width: 72.91%;
	margin-left: auto;
	margin-right: auto;
}

.ct-action .industryCenter {
	width: 100%;
	margin: 0 auto;
}

.ct-action .industryCon01 {
	height: auto;
	width: 100%;
}

.ct-action .industryCon01 p {
	width: 100%;
	text-align: left;
}

.newsimg img {
	width: 100% !important;
}
/*行业资讯end*/

/*联系我们start*/

.ct-contact {
	margin-top: 7.8% !important;
	width: 72.91%;
	margin-left: auto;
	margin-right: auto;
}

.ct-contact h3 {
	font-size: 40px;
	font-weight: bold;
	color: #d1ab6d;
	margin-bottom: 3.57%;
}

.conInformation dl {
	position: static;
}

.ct-contact #dituContent {
	width: 100%;
	height: 300px;
}

@media only screen and (max-width: 768px) {
	/*.ct-contact h3 {
		font-size: 38px;
	}*/
	
	.ct-contact {
		width: 85%;
	}
	
	.ct-contact #dituContent {
		margin-left: -7%;
		margin-right: -7%;
		width: 115%;
		height: 400px;
	}
}

@media only screen and (max-width: 990px) {
	.ct-contact #dituContent {
		margin-top: 15px;
	}
}
/*联系我们end*/

/*关于我们start*/

.ct-about {
	width: 72.91%;
	margin: auto;
	margin-top: 5.2%;
}

.ct-about .companyProfile h4 {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	border-left: 5px solid #d1ab6d;
	padding-left: 15px;
	text-align: left;
	line-height: 34px;
	line-height: 39px\0;
}

.companyProfile .media-left {
	width:33.8%;
}

.ct-about .companyProfile em {
	font-family: "Gabriola";
}

.ct-about .companyProfile p {
	color: #fff;
	font-size: 25px;
	line-height: 2.4em;
	text-indent: 2em;
	margin-top: 4.8%;
}

.definition {
	width: auto;
	height: auto;
	margin-top: 3.6% !important;
	padding:3.6% 2.3%;
}

.con01 {
	width:100%;
  margin-top: 3.6%;
  height: auto;
  
}

.con01 img {
	width:56.5%;
	display: inline-block;
}

.con01-font {
	display: inline-block;
  float: right;
  margin-left: 6.5%;
  width: 36%;
  margin: 0;
  margin-top: 3%;
  font-size: 30px;
  line-height: 2em;
  color: #fff;
  text-align: left;
}

.con02 {
	width: 100%;
	height: auto;
	margin-top: 5.75%;

}

.con03 {
    width: 100%; 
    text-align: center;
    line-height: 2em;
    padding: 3% 0;
}

.left-text {
	width:44%;
	padding: 0 2%;
}

.left-text p {
	margin-bottom: 0;
	line-height: 2em;
}

.con02 .setfont {
	margin-top: 10.5%;
	margin-bottom: 10%;
}

.yellowline02,.con02 h3 {
	width: auto;
}

.right-img {
	width:55.4%;
}

@media only screen and (max-width:1400px ) {
	.ct-about .companyProfile h4,.definition h2 {
    font-size: 24px;
    border-left: 5px solid #d1ab6d;
    padding-left: 12px;
    line-height: 24px;
	}
	
	.ct-about .companyProfile p {
    font-size: 20px;
    line-height: 2.2em;
	}
	
	.con01-font {
	  font-size: 24px;
	  line-height: 1.8em;
	}
	
	.con01-font em strong{
		font-size: 40px;
	}
}

@media only screen and (max-width:1280px ) {
	.ct-about .companyProfile h4 ,.definition h2{
    font-size: 20px;
    border-left: 5px solid #d1ab6d;
    padding-left: 10px;
    line-height: 20px;
	}
	
	.ct-about .companyProfile p {
    font-size: 18px;
    line-height: 2.15em;
	}
	
	.con01-font {
	  font-size: 20px;
	}
	
	.con01-font em strong {
		font-size: 36px;
	}
}

@media only screen and (max-width:992px ) {
	.ct-about .companyProfile h4 ,.definition h2{
    font-size: 16px;
    border-left: 8px solid #d1ab6d;
    padding-left: 8px;
    line-height: 16px;
	}
	
	.ct-about .companyProfile p {
    font-size: 14px;
    line-height: 2em;
	}
	
	.con01-font {
	  font-size: 18px;
	  line-height: 1.6em;
	}
	
	.con01-font em strong {
		font-size: 28px;
	}
}

@media only screen and (max-width:768px ) {
	.companyProfile .media-left,
	.companyProfile .media-body	 {
		display: block;
		width: 100%!important;
	}
	
	
	.ct-about .companyProfile h4,.definition h2 {
    font-size: 16px;
    border-left: 5px solid #d1ab6d;
    padding-left: 8px;
    line-height: 16px;
    margin-top: 10px;
	}
	
	.ct-about .companyProfile p {
    font-size: 14px;
    line-height: 2em;
	}
	
	.con01 img {
		width:100%;
		display: block;
	}

	.con01-font {
		display: block;
	  width: 100%;
	  font-size: 18px;
	}
	
	.con01-font em strong {
		font-size: 28px;
	}
	
	.left-text {
		width:100%;
		float: right;
	}
	
	.right-img {
		width: 100%;
	}
	
	.con03,.left-text {
		font-size: 18px;
	}
	
	.con02 h3 {
		font-size: 28px;
	}
}

/*关于我们end*/

/*成品展示start*/
.pop-menu {
	position: fixed;
	top: 16.3%;
	left: 0;
	z-index: 100;
}

.pop-menu .controller {
	float: left;
	font-size: 16px;
	color: #d1ab6d;
	padding: 5px;
	width:30px;
	height: auto;
	background-color: #2f2d2e;
	cursor: pointer;
}

.pop-menu .pop-catelist {
	float: left;
	width:200px;
}

.pop-catelist ul li h3 {
	margin: 0 !important;
}

.pop-catelist ul li a {
	padding: 10% 0 !important;
	font-size: 16px !important;
}

.pro-list {
	width: 73.6%;
	margin-top: 6.25%;
}

.cat-list {
	width: 18%;
	height:auto;
	height:auto;background: #2f2d2e;
	padding: 0;
}

.cat-list ul li h3{width:100%;background: #211f20;text-align: center;padding:15% 0;margin-top:3%;}
.cat-list ul li a{display:block;width:100%;height:auto;text-align: center;font-size: 18px;font-family: "微软雅黑";padding:15% 0;text-decoration: none;color:#d1ab6d;}
.cat-list ul li a:hover{background: #211f20;}

.item-list {
	width: 80%;
	text-align: right;
	margin-left: 2%;
}

.pro-item {
	margin-bottom: 30px;
}

.pro-item img {
	width: 100%;
}

.pro-list .tabBar {
	text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.pro-list {
    width: 90%;
	}
	
	.cat-list ul li a,
	.cat-list ul li h3 {
		font-size: 14px;
	}
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
	.pro-list {
    width: 80%;
    margin-top: 6.25%;
	}
	
	.cat-list ul li a,
	.cat-list ul li h3 {
		font-size: 16px;
	}
}

@media only screen and (max-width:768px ) {
	.pro-list {
    width: 86%;
	}
}
/*成品展示end*/

/*登录&注册start*/
.memberEnter {
  width: 73.6%;
  height: auto;
  margin: 7.5% auto;
}

.login-form ,.reg-form{
	margin-top:6% ;
}

 .verificationCode {
    position: static;
    right: auto;
    margin-left: -25px;
}

 .verificationCode a {
 		margin-left: 5px;
    top: 10px;
    position: absolute;
    width: 150px;
    color: #d1ab6d;
}

#clientFeedback,#username,#formLogin input,#formRegister input {
  border: 1px solid #726c76;
  background: #211f20;
  color: #fff;
  cursor:pointer;
  

}

.btn-login {
    border-radius: 3px;
    background: #d1ab6d;
    color: #000;
    height: 30px;
    padding: 5px 20px;
}

a.forgetPws {
    color: #aa987b;
    /*text-decoration: underline;*/
    text-decoration: none;
}

.text-small {
	font-size: 10px;
	white-space: nowrap;
	color: #fff;
}
#formRegister .help-block{
	margin-bottom: 0
}

@media only screen and (min-width: 100px) and (max-width: 992px) {
	.verificationCode {
    margin-left: 0;
	}
	
	.login-form .img-responsive,
	.reg-form .img-responsive {
		width:100%;
		margin: 0 auto;
		margin-bottom: 10px;
	}
	
	.page-title {
		font-size: 28px !important;
	}
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
	.page-title {
		font-size: 32px !important;
	}
	.memberEnter{width:40.6%;}
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
	.page-title {
		font-size: 36px !important;
	}
	
	.memberEnter {
    width: 90%;
	}
	
	#formLogin label,.verificationCode a,a.forgetPws,#formRegister label {
		font-size:14px;
	}
}

@media only screen and (min-width: 1281px) and (max-width: 1400px) {
	.page-title {
		font-size: 36px !important;
	}
	
	.memberEnter {
    width: 80%;
	}
	
	#formLogin label,.verificationCode a,a.forgetPws,#formRegister label {
		font-size:14px;
	}
}
/*登录&注册end*/

/*会员中心start*/
.ct-member {
	width: 72.91%;
	margin: auto;
}

h3.memberCenterFont {
    width: 100%;
    margin: 0 auto;
    margin-top:3.57% ;
    position: static;
    top: 0;
}

.companyProfile {
	margin-top:3.57% ;
}

.memberinfo th {
	text-align: right;
}

.memberinfo>tbody>tr>td,
.memberinfo>tbody>tr>th {
	border-top: none;
	font-size: 24px;
	line-height: 2.2em;
	line-height: 0em\9;
	height: 80px\9;
}


.personalTable {
	width: 100%;
	height: auto;
}
/*会员中心end*/
/*

@media only screen and (max-width: 1400px) {}
@media only screen and (max-width: 1280px) {}
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 768px) {}
 */
/*售后服务start*/
/*phonetart*/

@media only screen and (max-width:360px){
	.industryCenter h2{line-height: 20px}
}
@media only screen and (max-width:320px){
.mobilelogo{width:28%;margin:0.7rem;}
/*.userput{position: absolute;right:7rem;top:14px;font-size: 25px;}*/
#mobileNav{background:#2f2d2e;}
.navbar-default{border-color:transparent;}

.brand,.newinfo,.vip,.customize,.contact{font-size:15px!important;}
.forgetPws{font-size: 15px;margin-bottom: 15px;margin-left:10px;}

.setput{margin:5px auto 21px;}
.yellowline li{border:1px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 18px;}
.handDate{width:100px;}
/*.memberinfo>tbody>tr>th{line-height: 27px;}*/
.userput{float:right;}

}
.forgetPws{font-size: 15px;margin-bottom: 15px;text-decoration: none;}
@media only screen and (min-width:320px){
	/*.forgetPws{margin-left:-10px}*/
        .mobilelogo{width:20%;margin:0.7rem;margin-top:13px;}
	
.userput{float:right;}
@-moz-document url-prefix(){.userput{margin-right:70px;display:inline-block;}}

#mobileNav{background:#2f2d2e;}
.navbar-default{border-color:transparent;}
.brand,.newinfo,.vip,.customize,.contact{font-size:15px!important;}
.ct-member,.ct-activity,.ct-action,.ct-about,.memberEnter{width:95%;}
/*font*/
.con01-font{font-size: 16px;}
.con02 h3{font-size: 18.60px;}
.con01-font{font-size: 13.95px;}
.con01-font em strong{font-size:21px;}
.ct-about .companyProfile p{font-size: 12.3px;}
.con03 p,.con02 p{font-size:15px;} 
/*行业资讯*/
.industryHeight h3{font-size:30px;}
.industryCenter h2 span{font-size:18px;}
.newsimg p{font-size:15px;}
/*news*/
.ct-activity dl{font-size:18px;}
.ct-activity dd{font-size: 13px;}
/*content*/
#contart-font dd,.ct-contact h3{font-size:16px;}

#logobut,#logotop{padding:0 30px;}
.pro-list{width:100%; margin: 0 auto;}

.tabBar{padding:0 0;}
/*320以上*/
h3.memberCenterFont{font-size:30px;font-weight: bold;}
.memberCenter ol li a{font-size:15px;}
/*.memberinfo>tbody>tr>td{font-size:12px;}*/
.setput{margin:5px auto 21px;}
.yellowline li{border:1px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 12px;}

/*.memberinfo>tbody>tr>th{line-height: 27px;}*/

.triangle .huiyuansanjiao{left:15%;top:0px\9;}


/*prodctsconten*/
.pro-line{border:1px solid #d1ab6d;margin-bottom:5px;}
.pro-play{background: #211f20;width:100%;}
.pro-play .pro-img{width:100%;margin-top:100px;}
.pro-play span{float:left;margin-left:1px;display:block;}
#pro-content{margin-bottom:100px;}
#product h3{font-size:18px!important;}
#product div{font-size:14px;}
/*产品页*/
.productDot li{float:left;border-radius:50%;border: 6px solid #fff;}
/*.memberEnter ul{margin:20px 0;}*/
.triangle i{left:230px;}
@-moz-document url-prefix(){.triangle i{top:18px};}

/*login*/
#loginbutton ul{margin-left:4px;}
.file-box,.file,.btn{width:100%;}
.productDot{margin-left:108px;}

#cur-height02,#cur-height{margin-top:30px;}
.journalisticMetion, .industryCon01 .getInformation{width:100px;height:40px;line-height: 40px;}

	.industryCenter h2 {border-left:5px solid #d1ab6d;padding:5px 0 5px 10px;display:block;}
	.industryCenter h2 span{font-size: 18px;color:#fff;font-family:"方正姚体简体";}

	.con03 p,div.font-botton{margin-top:2%;font-weight: bold;line-height: 1.5;font-size: 14px;}
	.severdefinition h2,.definition h2{font-size: 18px;color:#fff;border-left:5px solid #d1ab6d;padding-left:15px;}
	.severdefinition h2{margin:20px 20px;}
	.custitle{font-size: 20px;}

	#fontput{margin-left:-13px;}
	.handDate{width:100px;margin-left:-51px;margin-top:50px;}

	/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:15px;}
	#customfont div,#aboutfont div{font-size:15px;}
	#customfont strong,#aboutfont strong{font-size:18px;}
	#aboutfont{color:#fff;}
	#aboutfont h3{color:#d1ab6d;}
	/*#aboutfont {color:#d1ab6d;}*/
}
#customfont em{color:#d1ab6d;}
@media only screen and (min-width:350px){
	.productDot{margin-left:122px;}
	#fontput{margin-left:-31px;}
}
@media only screen and (min-width:370px){
	.productDot{margin-left:134px;}
	#fontput{margin-left:-31px;}
}
@media only screen and (min-width:380px){
	.productDot{margin-left:138px;}
}
@media only screen and (min-width:390px){
	.productDot{margin-left:145px;}
	#fontput{margin-left:-42px;}
}
@media only screen and (min-width:400px){
	.productDot{margin-left:149px;}

}
@media only screen and (min-width:480px){

	/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:22px;}
	#customfont div,#aboutfont div{font-size:22px;}
	#customfont strong,#aboutfont strong{font-size:25px;}
	#customfont em,#customfont h3,#aboutfont h3{font-size:25px;}

    /*index*/

.mobilelogo{width:15%;margin:0.4rem;position:absolute;}
/*.userput{position: absolute;right:7rem;top:14px;font-size: 25px;}*/
#mobileNav{background:#2f2d2e;}
.brand,.newinfo,.vip,.customize,.contact{font-size:18px!important;}
.mobilelogo{width:20%;margin:0.7rem;}
    /*index*/
    /*login*/
.forgetPws{font-size: 15px;}
.ct-contact h3{font-size:18px;}
/*padding*/
#logobut,,#logotop{padding:0 100px;}
/**/
.setput{margin:5px auto 21px;}
.yellowline li{border:1px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 18px;}
.handDate{width:100px;}
/*.memberinfo>tbody>tr>th{line-height: 27px;}*/

.triangle .huiyuansanjiao{left:10%;top:0px\9;}
@-moz-document url-prefix(){.triangle .seversanjiao{top:0px;}}
.triangle .seversanjiao{left:29%;top:0px\9;}
@-moz-document url-prefix(){.triangle .huiyuansanjiao{top:0px;}}

/*产品页*/

.triangle i{left:346px;}


#loginbutton ul{margin-left:60px;}

.productDot{margin-left:186px;}
/*#loginbut-font{margin-right:100px;}*/

#fontput{margin-left:-11px;}

.handDate{width:100px;margin-left:-51px;margin-top:50px;}
.mobilelogo{width:15%;margin:0.4rem;margin-top:11px;}
.productDot{margin-left:186px;}
#formLogin #loginbutton {margin-left:29%;}

.con03 p,div.font-botton{font-size:18px;}
}
@media only screen and (min-width:600px){
		/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:27px;}
	#customfont div,#aboutfont div{font-size:27px;}
	#customfont strong,#aboutfont strong{font-size:30px;}
	#customfont h3,#aboutfont h3{font-size:30px;}

.productDot{margin-left:246px;}
.mobilelogo{margin-top: 7px;}
.con03 p,div.font-botton{font-size:20px;}
}
@media only screen and (min-width:640px){
.productDot{margin-left: 267px;}
}
@media only screen and (min-width:680px){
			/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:31px;}
	#customfont div,#aboutfont div{font-size:31px;}
	#customfont strong,#aboutfont strong{font-size:35px;}
	#customfont h3,#aboutfont h3{font-size:35px;}
	.triangle .huiyuansanjiao{left:8%;top:0px\9;}
	@-moz-document url-prefix(){.triangle .huiyuansanjiao{top:0px;}}

    /*index*/

/*.userput{right:7rem;top:14px;font-size: 25px;}*/
#mobileNav{background:#2f2d2e;}
.brand,.newinfo,.vip,.customize,.contact{font-size:28px!important;}
.ct-about,.memberEnter{width:90%;}
#logobut,#logotop{padding:0 150px;}
#contart-font dd,.ct-contact h3{font-size:18px;}
/*product*/
.setput{margin:5px auto 21px;}
.yellowline li{border:1px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 18px;}
.handDate{width:100px;}
/*.memberinfo>tbody>tr>th{line-height: 3rem;}*/
			@-moz-document url-prefix(){.memberinfo>tbody>tr>th{height:80px;}}
@-moz-document url-prefix(){.memberinfo>tbody>tr>th{vertical-align:baseline;}}

.seversanjiao{left:23%;}


.triangle i{left:420px;}

#loginbutton ul{margin-left:93px;}
.productDot{margin-left:269px;}
.con03 p,div.font-botton{font-size:25px;}
}
.triangle i{top:0px/9/0;}
/*phoneend*/
#userSale{display:none;}
@media only screen and (max-width: 768px){
.setput li i span, .setput li i em{border-width:6px;}
/*.huiyuansanjiao{left:6%;}*/
/*.seversanjiao{left:17%;}*/

/*.setput{margin:5px auto 21px;}
.yellowline li{border:1px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 18px;}
.handDate{width:100px;}
.memberinfo>tbody>tr>th{line-height: 3rem;}*/
}
@media only screen and (min-width: 768px){
	.setput li i span, .setput li i em{border-width:8px;}
		.triangle .huiyuansanjiao{left:7%;top:0px\9;}
		@-moz-document url-prefix(){.triangle .huiyuansanjiao{top:0px;}}

	.seversanjiao{left:20%;}
	.tabBar ol{left:-18px;}	
	.memberEnter{width:60%;}
	#loginbutton{margin-left:40%;}
	.ct-member,.ct-activity,.ct-action,.ct-about{width:72.91%;}
	/*news*/
	.ct-activity dl{font-size:20px;}
	
	.pro-line{border:1px solid #d1ab6d;margin-bottom:5px;}
.pro-play{background: #211f20;width:100%;}
.pro-play .pro-img{width:100%;margin-top:100px;}
.pro-play span{float:left;margin-left:1px;display:block;}
#pro-content{margin-bottom:100px;}
#product h3{font-size:28px;margin-bottom:20px;}
#product div{font-size:17px;}

	/*font*/
/*font*/
.con01-font{font-size: 16px;}
.con02 h3{font-size: 18.60px;}
.con01-font{font-size: 13.95px;}
.con01-font em strong{font-size:21px;}
.ct-about .companyProfile p{font-size: 12.3px;}
.con02 p{font-size:14px;}
.con03 p{font-size:18px;}
/*行业资讯*/
.industryHeight h3{font-size:60px;}
.industryCenter h2 span{font-size:30px;}
.newsimg p{font-size:20px;}
/*news*/
.ct-activity dd{font-size: 13px;}
/*con*/
.ct-contact h3{font-size:38px;}
/**/
#logotop{padding:0 0;}
.pro-list{width:86%;}
/*resion*/
#resion{padding-top:50px;}
/*会员中心*/
.setput{margin:20px auto 21px;}
.yellowline li{border:3px solid #d1ab6d;}
.personalTable .headline{font-size:30px;}
.memberinfo>tbody>tr>td, .memberinfo>tbody>tr>th{font-size: 24px;}
.handDate{width:150px;}
/**/
.setput{margin:5px auto 21px;}
.yellowline li{border:1px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 15px;}
.handDate{width:100px;}
/*.memberinfo>tbody>tr>th{line-height: 3rem;}*/
			@-moz-document url-prefix(){.memberinfo>tbody>tr>th{height:80px;}}
@-moz-document url-prefix(){.memberinfo>tbody>tr>th{vertical-align:baseline;}}
.seversanjiao{left:23%;}

#chanpinchose{margin-left:21px;}	

.triangle i{left:424px;}
#loginbutton ul{margin-left:0px;}

#formLogin #loginbutton {margin-left:35%;}
.triangle .seversanjiao{left:22%;top:0px\9;}

.con03 p{font-size:24px;}

#cur-height{margin-top:70px;} 
#cur-height02{margin-top: 0px;}
.journalisticMetion, .industryCon01 .getInformation{width:150px;height:56px;line-height: 56px;}

.industryCenter h2{border-left:10px solid #d1ab6d;padding:10px 0 10px 20px;display:block;}
.industryCenter h2 span{font-size: 30px;color:#fff;font-family:"方正姚体简体";}

.con03 p,div.font-botton{margin-top:2%;font-weight: bold;line-height: 1.5;font-size: 14px;}
	.severdefinition h2,.definition h2{font-size: 15px;color:#fff;border-left:5px solid #d1ab6d;padding-left:15px;margin:10px 16px;}
	.custitle{font-size: 30px;}

#fontput{margin-left:-16px;}
.handDate{width:100px;margin-left:-51px;margin-top:0px;}

	/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:15px;margin: 5px 0;}
	#customfont div,#aboutfont div{font-size:14px;}
	#customfont strong,#aboutfont strong{font-size:14px;}
	#customfont h3,#aboutfont h3{font-size:14px;}
	#customfont em{font-size: 15px;}
	/*制作*/
	.cusclass{color:#fff;}
	.cusclass em{color:#d1ab6d;margin-bottom:5px;display:block;font-weight: bold;}
	.severdefinition h2{margin:20px 35px;}
}
@media only screen and (min-width: 910px){
@-moz-document url-prefix(){.col-my-4{width:40.85% !important;}}
}
@media only screen and (min-width: 992px){

	.setput li i span, .setput li i em{border-width:10px;}
	.triangle .huiyuansanjiao{left:6%;}
	.triangle .seversanjiao{left:17%;left:17%\9;}
	@-moz-document url-prefix(){.triangle .huiyuansanjiao{top:0px;}}
	.tabBar ol{left:-42px;}	
	.memberEnter{width:73.6%;}
	/**/
.setput{margin:10px auto 21px;}
.yellowline li{border:2px solid #d1ab6d;}
.personalTable .headline{font-size:20px;}
.memberinfo>tbody>tr>td,.memberinfo>tbody>tr>th{font-size: 18px;}
.handDate{width:100px;}
/*.memberinfo>tbody>tr>th{line-height: 3rem;}*/
.memberCenter ol li a{
	font-size: 20px;
}
	.triangle .huiyuansanjiao{left:7%;}
	.triangle .seversanjiao{left:22%;left:22%\9;}

	/**/
	#chanpinchose{margin-left:-150px;}	
	.triangle i{left:557px;}

	.control-label{font-size: 15px;}
	
	#fontput{margin-left:40px;}
	/*#chanpinchose{margin-left:0px;}	*/
	#product h3{font-size:22px;}
	@-moz-document url-prefix(){.memberinfo>tbody>tr>th{height:80px;}}
@-moz-document url-prefix(){.memberinfo>tbody>tr>th{vertical-align:baseline;}}

	/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:16px;line-height: 30px;}
	#customfont div,#aboutfont div{font-size:16px;}
	#customfont strong,#aboutfont strong{font-size:19px;}
	#customfont h3,#aboutfont h3{font-size:19px;}
	/*制作*/
	.cusclass{color:#fff;}
	.cusclass em{color:#d1ab6d;margin-bottom:5px;display:block;font-weight: bold;}
	.con03 p, div.font-botton{font-size:17px;}
}
@media only screen and (min-width: 1024px){
		/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	.con03 p, div.font-botton,#aboutfont p{font-size:18px;margin: 10px 0;}
	#customfont div,#aboutfont div{font-size:18px;}
	#customfont strong,#aboutfont strong{font-size:21px;}
	#customfont h3,#aboutfont h3{font-size:21px;}
	.tabBar ol{left:-71px;}	
	.triangle .huiyuansanjiao{left:6%;}
	.triangle .seversanjiao{left:21%;left:21%\9;}
	.triangle i{left:579px;}
	#chanpinchose{margin-left:70px;}


}
@media only screen and (min-width: 1152px){
	.tabBar ol{left:-10px;}	
	.triangle i{left:649px;}
	#chanpinchose{margin-left:67px;}
}
@media only screen and (min-width: 1280px){
			/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	.con03 p, div.font-botton,#aboutfont p{font-size:20px;margin: 20px 0;}
	#customfont div,#aboutfont div{font-size:20px;}
	#customfont strong,#aboutfont strong{font-size:24px;}
	#customfont h3,#aboutfont h3{font-size:24px;}
	.setput li i span, .setput li i em{border-width:12px;}
	
	.triangle .huiyuansanjiao{left:5%;top:0px\9;}
	@-moz-document url-prefix(){.triangle .huiyuansanjiao{top:0px;}}
	.triangle .seversanjiao{left:16%;left:16%\9;}
	@-moz-document url-prefix(){.triangle .seversanjiao{top:0px;}}
	.tabBar ol{left:-8px;}	
#chanpinchose{margin-left:20px;margin-top:-80px;}	
.triangle i{left:723px;}
.con03 p,div.font-botton{margin-top:2%;font-weight: bold;line-height: 1.5;font-size: 20px;}
	.severdefinition h2,.definition h2{font-size: 22px;color:#fff;border-left:5px solid #d1ab6d;padding-left:15px;}
	.custitle{font-size: 30px;}
	#fontput{margin-left:62px;}

	/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:19px;line-height: 40px;}
	#customfont div,#aboutfont div{font-size:19px;}
	#customfont strong,#aboutfont strong{font-size:23px;}
	#customfont h3,#aboutfont h3{font-size:23px;}
	/*制作*/
	.cusclass{color:#fff;}
	.cusclass em{color:#d1ab6d;margin-bottom:5px;display:block;font-weight: bold;}
	#customfont em{font-size: 25px;}
}
@media only screen and (min-width: 1400px){
	.setput li i span, .setput li i em{border-width:15px;}
	.triangle .huiyuansanjiao{left:3%;top:0px\9;}
	@-moz-document url-prefix(){.triangle .huiyuansanjiao{top:0px;}}
	.triangle .seversanjiao{left:12%;top:0px\9;}
	@-moz-document url-prefix(){.triangle .seversanjiao{top:0px;}}
	.tabBar ol{left:-7px;}	
	.triangle i{left:791px;}
	#chanpinchose{margin-left:67px;margin-top:-65px;}	
		/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:5px 0;}
	#customfont,#aboutfont{margin-top:20px;}
	#customfont p,#aboutfont p{font-size:19px;line-height: 30px;}
	#customfont div,#aboutfont div{font-size:19px;}
	#customfont strong,#aboutfont strong{font-size:23px;}
	#customfont h3,#aboutfont h3{font-size:23px;}
	/*制作*/
	.cusclass{color:#fff;}
	.cusclass em{color:#d1ab6d;margin-bottom:5px;display:block;font-weight: bold;}
	#customfont p{font-size:19px;line-height: 50px;}
	.triangle .seversanjiao{left:14%;}
}
@media only screen and (min-width: 1440px){
	.tabBar ol{left:-7px;}	
}
@media only screen and (min-width: 1600px){
	.tabBar ol{left:-5px;}	
	#chanpinchose{margin-top:0px;}	
	.triangle i{left:1105px;}
	.con03 p,div.font-botton{margin-top:2%;font-weight: bold;line-height: 1.5;font-size: 25px;}
	.severdefinition h2,.definition h2{font-size: 35px;color:#fff;border-left:5px solid #d1ab6d;padding-left:15px;}
	.custitle{font-size: 40px;}
	/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:10px 0;}
	#customfont,#aboutfont{margin-top:25px;}
	#customfont p,#aboutfont p{font-size:25px;margin: 20px 0;line-height: 40px;}
	#customfont div,#aboutfont div{font-size:25px;}
	#customfont strong,#aboutfont strong{font-size:28px;}
	#customfont h3,#aboutfont h3{font-size:28px;}
	/*制作*/
	.cusclass{color:#fff;}
	#customfont em,.cusclass em{color:#d1ab6d;margin-bottom:5px;display:block;font-weight: bold;}
	#customfont em{font-size:30px;}

	#customfont p{line-height:50px;}
	.triangle i{left:900px;}
	.triangle .seversanjiao{left:12%;}
}

	.tabBar ol{left:-7px;}	


@media only screen and (min-width: 1920px){
	.tabBar ol{left:5px;}	
	#chanpinchose{margin-top:70px;margin-left:150px;}	
	.triangle i{left:1105px;}
	#fontput{margin-left:85px;}
	/*#chanpinchose{margin-left:11px;}	*/
	#chanpinchose{margin-left:155px;margin-top:89px;}	
		/*about*/
	.aboutline{border:1px solid #d1ab6d;display:block;margin:20px 0;}
	#customfont,#aboutfont{margin-top:25px;}
	#customfont p,#aboutfont p{font-size:30px;margin: 20px 0;}
	#customfont div,#aboutfont div{font-size:30px;}
	#customfont strong,#aboutfont strong{font-size:34px;}
	#customfont h3,#aboutfont h3{font-size:34px;}
	.cusclass{color:#fff;}
	.cusclass em{color:#d1ab6d;margin-bottom:5px;display:block;font-weight: bold;}
	/*cus*/
	#customfont p{line-height: 65px;}
	.severdefinition h2, .definition h2{font-size: 30px;}
	.triangle .seversanjiao{left:10%;}
}
/*customization*/
h2.titleline{ border-left:5px solid #d1ab6d;padding-left:20px;}

.tabBar ol{width:200px; margin:0 auto;position:relative;}
/*#cusline{background:url(../img/design/bgline.png);width:100%;display:block;position:absolute;z-index: 1;height:100%}*/


.tpchuli{width:85%;}
#custiom-line{width:100%;}
/**/
.pro-play{background: #211f20;width:200%;}

/*nav*/

/*login*/
#loginbutton ul{width:10000px;}
#loginbutton ul li{float:left;}

.showWindow{width:100%;height:auto;background: #000;position:absolute;opacity:0.5;}

#sale,#member{text-decoration: none;}
#customfont{position:relative;z-index: 2;}
#customfont h3{font-weight: bold;}
#customfont{color:#fff;}
.memberinfo > tbody > tr > td, .memberinfo > tbody > tr > th{line-height: 60px;}