head,nav,body, div ,a ,dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, p, th, td { margin:0; padding:0;}
body { font-size:18px; color:#d1ab6d; font-family:"方正姚体简体";background: #211f20;/*overflow-x: hidden;*/}
img{ border:0; display:block;max-width: 100%;}
ol, ul { list-style:none; }
/*h1, h2, h3, h4, h5, h6{ font-size:100%;}*/
em,i{ font-style:normal;}
input, button, select, textarea { outline:none; border:none;} 
textarea { resize:none;/*设置textarea不可改变尺寸大小*/ }
a { color: #616161;text-decoration: none;}
a:hover { text-decoration:underline; }

/*清除浮动*/
.clearFloat{
    *zoom:1;
}
.clearFloat:after,.clearFloat:before{
    content:"";
    display:table;
}
.clearFloat:after{
    clear:both;
}
