<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="卡宝地珠宝有限公司,卡宝地珠宝，珠宝,卡宝地,珠宝定制,高端私人定制,karbody"/>
        <meta name="format-detection" content="telephone=no" />
        <title>珠宝定制介绍-卡宝地珠宝有限公司</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/public.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/content.css" />
        <link rel="stylesheet" type="text/css" href="css/copyright.css" />
        <link rel="stylesheet" type="text/css" href="css/layoutnew.css" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="nav hidden-xs" >
            <div class="head">
                <h1><a href="index.html" title="卡宝地官方网站">卡宝地官方网站</a></h1>
                <ul class="hidden-xs">
                    <li ><a href="index.html">首页</a></li>
                    <li><a href="about.html">关于卡宝地</a></li>
                    <li class="news"><a href="#">最新资讯</a>
                        <ul>
                            <li><a href="{{url('news/type/1')}}">新闻活动</a></li>
                            <li><a href="{{url('news/type/2')}}">行业资讯</a></li>
                        </ul>
                    </li>
                    <li class="news curClass"><a href="{{url('product')}}">定制服务</a>
                        <ul>
                            <li><a href="{{url('customization')}}">服务介绍</a></li>
                            <li><a href="{{url('product')}}">成品展示</a></li>
                        </ul>
                    </li>
                    <li class="news"><a href="{{url('profile')}}">尊贵会员</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>
                <!--    <div class="visible-xs" style="position: absolute;right: 20px;top: 30px;z-index: 1000;color: #fff;">
                                                <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                </div> -->
                <div class="enterLogin">
                    <div class="enterLogin-top"><a href="{{url('login')}}">登录<span>|</span></a><a href="register.html">注册</a></div>
                </div>
            </div>
        </div>
        <!-- mobileNav -->
        <nav class="navbar navbar-default visible-xs-block" id="mobileNav">
            <div class="container-fluid ">
                <div class="navbar-header">
                    <a href="index.html"> <img src="img/logo.png" alt="图片加载失败" class="mobilelogo" style="position:absolute"/> </a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="inline-block;float:right;">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="glyphicon glyphicon-user userput" aria-hidden="true" href="{{url('login')}}"  style="margin-top:17px;margin-right:10px;"></a>

                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li style="margin-right:-30px;overflow:hidden;">
                            <a href="index.html">首页</a>
                        </li>

                        <li  style="margin-right:-30px;overflow:hidden;">
                            <a href="about.html">关于卡宝地</a>
                        </li>

                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle divider" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right:-30px;overflow:hidden;">最新资讯<span class="caret" style="margin-right:-30px;overflow:hidden;"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url('news/type/1')}}" style="margin-right:-30px;overflow:hidden;">新闻活动</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                                <li><a href="{{url('news/type/2')}}" style="margin-right:-30px;overflow:hidden;">行业资讯</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="margin-right:-30px;overflow:hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">定制服务
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{url('customization')}}" style="margin-right:-44px;overflow:hidden;">服务介绍</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                                <li><a href="{{url('product')}}" style="margin-right:-30px;overflow:hidden;">成品展示</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                            </ul>
                        </li>
                        <li><a href="{{url('profile')}}" style="margin-right:-30px;overflow:hidden;">尊贵会员</a></li>

                        <li><a href="contact.html" style="margin-right:-30px;overflow:hidden;">联系我们</a></li>

                    </ul>

                </div>
            </div>
        </nav>
        <!-- banner -->
        <a href="index.html" ><img src="img/design/banner.jpg" alt="加载失败" class="img-responsive" /></a>

        <!-- serveBD02Start -->
        <div class="ct-about">
            <h2 class=" titleline custitle">珠宝高级定制</h2>
            <span class="aboutline"></span>
            <span class="aboutline"></span>
            <div class="severdefinition">
                <!-- id="cusline"            -->
                <img src="img/design/bgline.png" alt="图片加在失败" style="position:absolute;" class="img-responsive hidden-xs" id="custiom-line"/>
                <h2>CUSTOMIZATION PROCESS<br/><span>卡宝地定制流程</span></h2>
                <div class="col-sm-12" style="margin-top:20px">
                    <img src="img/design/zb07.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 push-left" />
                    <img src="img/design/zb07.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%"/>

                    <div class="col-sm-6 cusclass hidden-xs" id="customfont">
                        <em>CREATIVE</em>
                        <h3>专属定制</h3>
                        <p style="text-indent:2em;display:block">
                        卡宝地的设计师将根据您的故事作为灵感来源，
                        耐心与您沟通、细化修改，只愿为您设计仅属于您
                        的独一无二的珠宝首饰。
                        </p>
                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>CREATIVE</em>
                        <h3>专属定制</h3>
                        <p style="text-indent:2em;display:block">
                        卡宝地的设计师将根据您的故事作为灵感来源，
                        耐心与您沟通、细化修改，只愿为您设计仅属于您
                        的独一无二的珠宝首饰。
                        </p>
                    </div>
                </div>
                <!-- <div class="con01 clearFloat"> -->
                <!-- part02 -->
                <div class="col-sm-12" style="margin-top:20px">
                    <img src="img/design/zb06.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 navbar-right" style="margin-right:0" />
                    <img src="img/design/zb06.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%" />

                    <div class="col-sm-6 cusclass hidden-xs navbar-left" id="customfont">
                        <em>SELECT</em>
                        <h3>甄选宝石</h3>
                        <p style="text-indent:2em;display:block">
                        根据设计，为您的珠宝搭配形状、颜色、切割
                        最优质的宝石，每颗宝石都经过专业人员精心挑选，
                        精选您喜欢的优质配材衬托。
                        </p>
                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>SELECT</em>
                        <h3>甄选宝石</h3>
                        <p style="text-indent:2em;display:block">
                        根据设计，为您的珠宝搭配形状、颜色、切割
                        最优质的宝石，每颗宝石都经过专业人员精心挑选，
                        精选您喜欢的优质配材衬托。
                        </p>
                    </div>
                </div>
                <!-- part03 -->
                <div class="col-sm-12" style="margin-top:20px">
                    <img src="img/design/zb05.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 push-left" />
                    <img src="img/design/zb05.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%"/>

                    <div class="col-sm-6 cusclass hidden-xs" id="customfont">
                        <em>WAX CARVING</em>
                        <h3>模型造版</h3>
                        <p style="text-indent:2em;display:block">
                        设计手稿完成后，卡宝地的工匠们将结合传统
                        手艺与现代科技，跨越一道道技术挑战，雕刻精准
                        的一比一珠宝蜡版。这对珠宝工匠们的专业度、精
                        准度、美感都有很高的要求。
                        </p>
                        <center>
                        <span class="aboutline"></span>
                        <h3 style="color:#d1ab6d">凝聚了自然和工艺之美</h3>
                        <span class="aboutline"></span>
                        </center>
                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>WAX CARVING</em>
                        <h3>模型造版</h3>
                        <p style="text-indent:2em;display:block">
                        设计手稿完成后，卡宝地的工匠们将结合传统
                        手艺与现代科技，跨越一道道技术挑战，雕刻精准
                        的一比一珠宝蜡版。这对珠宝工匠们的专业度、精
                        准度、美感都有很高的要求。
                        </p>
                        <center>
                        <span class="aboutline"></span>
                        <h3 style="color:#d1ab6d">凝聚了自然和工艺之美</h3>
                        <span class="aboutline"></span>
                        </center>
                    </div>
                </div>
                <!-- <div class="con01 clearFloat"> -->
                <!-- part04 -->
                <div class="col-sm-12" style="margin-top:20px">
                    <img src="img/design/zb04.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 navbar-right" style="margin-right:0" />
                    <img src="img/design/zb04.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%"/>

                    <div class="col-sm-6 cusclass hidden-xs navbar-left" id="customfont">
                        <em>CASTING</em>
                        <h3>倒模</h3>
                        <p style="text-indent:2em;display:block">
                        工匠们将制作完成的蜡版种入蜡树中，进入贵
                        金属打造阶段。在高温熔炉中精密铸造珠宝雏形。
                        </p>
                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>CASTING</em>
                        <h3>倒模</h3>
                        <p style="text-indent:2em;display:block">
                        工匠们将制作完成的蜡版种入蜡树中，进入贵
                        金属打造阶段。在高温熔炉中精密铸造珠宝雏形。
                        </p>
                    </div>
                </div>
                <!-- part05-->
                <div class="col-sm-12" style="margin-top:20px">
                    <img src="img/design/zb03.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 push-left" />
                    <img src="img/design/zb03.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%"/>

                    <div class="col-sm-6 cusclass hidden-xs" id="customfont">
                        <em>JEWELRY FABRICATION</em>
                        <h3>执模</h3>
                        <p style="text-indent:2em;display:block">
                        这阶段工匠们需要完成一系列的完善工作，修
                        饰、修补工件缺陷，对工件进行整形、焊接、初步
                        打磨铸件表面、装配珠宝配件等等。
                        </p>

                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>JEWELRY FABRICATION</em>
                        <h3>执模</h3>
                        <p style="text-indent:2em;display:block">
                        这阶段工匠们需要完成一系列的完善工作，修
                        饰、修补工件缺陷，对工件进行整形、焊接、初步
                        打磨铸件表面、装配珠宝配件等等。
                        </p>
                    </div>
                </div>

                <!-- part06-->
                <div class="col-sm-12" style="margin-top:20px">
                    <img src="img/design/zb02.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 navbar-right" style="margin-right:0"/>
                    <img src="img/design/zb02.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%"/>

                    <div class="col-sm-6 cusclass hidden-xs" id="customfont">
                        <em>STONE SETTING & POLISHING</em>
                        <h3>镶嵌与打磨</h3>
                        <p style="text-indent:2em;display:block">
                        珠宝雏形做好后需镶上宝石，这过程还需珠宝
                        工匠们一点点地对珠宝进行精细打磨、抛光。最后
                        通过对珠宝进行电金工艺处理，使其更晶莹璀璨。
                        </p>

                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>STONE SETTING & POLISHING</em>
                        <h3>镶嵌与打磨</h3>
                        <p style="text-indent:2em;display:block">
                        珠宝雏形做好后需镶上宝石，这过程还需珠宝
                        工匠们一点点地对珠宝进行精细打磨、抛光。最后
                        通过对珠宝进行电金工艺处理，使其更晶莹璀璨。
                        </p>
                    </div>
                </div>
                <!-- <div class="con01 clearFloat"> -->
                <!-- part07 -->
                <div class="col-sm-12" style="margin-top:20px;margin-bottom:20px;">
                    <img src="img/design/zb.png" alt="加载失败"  class="img-responsive hidden-xs  col-sm-6 navbar-left" style="margin-right:0" />
                    <img src="img/design/zb.png" alt="加载失败"  class="img-responsive visible-xs-block" width="100%"/>

                    <div class="col-sm-6 cusclass hidden-xs navbar-right" id="customfont" style="margin-right:0px">
                        <em>FINISH</em>
                        <h3>珠宝完成</h3>
                        <p style="text-indent:2em;display:block;">
                        卡宝地有专业的质检部对每一步工艺进行严格
                        把关，每一件珠宝成品必须通过质检部的总体质量
                        检测，确保您的珠宝臻至完美。凝聚着设计师和工
                        匠们心血、专属于您的珠宝终于完成了。相信卡宝
                        地为您打造的珠宝一定能描绘您心中那段私属的故
                        事。
                        </p>
                    </div>
                    <div class="cusclass visible-xs-block" id="customfont">
                        <em>FINISH</em>
                        <h3>珠宝完成</h3>
                        <p style="text-indent:2em;display:block">
                        卡宝地有专业的质检部对每一步工艺进行严格
                        把关，每一件珠宝成品必须通过质检部的总体质量
                        检测，确保您的珠宝臻至完美。凝聚着设计师和工
                        匠们心血、专属于您的珠宝终于完成了。相信卡宝
                        地为您打造的珠宝一定能描绘您心中那段私属的故
                        事。
                        </p>
                    </div>
                </div>
                <div class="text-center font-botton " style="position:relative; z-index:2">
                    每一款珠宝都演绎着一段非凡的故事<br/>
                    经由时间的沉淀， 永恒传承， 万代流传
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="copyright">
                <ul>
                    <li class="contact-info">
                        <dl>
                            <dt>佛山市顺德区卡宝地珠宝有限公司</dt>
                            <dd>地 址：伦教荔村广珠路东荔村段北9号</dd>
                            <dd>电话：0757-2362 2248 &nbsp;&nbsp;&nbsp;&nbsp;QQ：3287539963</dd>
                            <dd>邮箱：karbody@sina.com</dd>
                        </dl>
                    </li>
                    <li class="copy-right">
                        <img src="img/two-dimension.jpg" alt="加载失败" width="100%" />
                    </li>
                    <li class="qr-text">
                        <p class="fonts">
                        扫一扫
                        <br/> 关注“卡宝地珠宝”
                        <br/> 微信公众平台
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <!--[if lt IE 9]>
            <div id="ie-alert-panel" role="alert" style="z-index: 999999;" class="navbar-fixed-bottom alert alert-danger">
                    <div style="text-align:center">
                        <p>请使用<span class="text-info">火狐浏览器访问</span>或者<span class="text-info">谷歌浏览器访问</span>.</p>
                        <p>如果你是使用IE浏览器请升级到<span class="text-info">IE8以上</span>.</p>
                        <p>如果你使用的是<span class="text-info">360浏览器、遨游浏览器、猎豹浏览器</span>请使用<span class="text-info">极速模式</span>浏览</p>
                        <button data-dismiss="alert" class="btn btn-default pull-right" type="button">关闭<tton>
                    </div>
                    
            </div>
        <![endif]-->
    </body>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/public.js"></script>
</html>