<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="卡宝地珠宝有限公司,卡宝地珠宝，珠宝,卡宝地,珠宝定制,高端私人定制,karbody"/>
        <meta name="format-detection" content="telephone=no" />
        <title>成品展示-卡宝地珠宝有限公司</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/public.css" />
        <link rel="stylesheet" type="text/css" href="css/header.css" />
        <link rel="stylesheet" type="text/css" href="css/content.css" />
        <link rel="stylesheet" type="text/css" href="css/copyright.css" />
        <link rel="stylesheet" type="text/css" href="css/layoutnew.css" />
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="nav hidden-xs" >
            <div class="head">
                <h1><a href="index.html" title="卡宝地官方网站">卡宝地官方网站</a></h1>
                <ul class="hidden-xs">
                    <li class="curClass"><a href="index.html">首页</a></li>
                    <li><a href="about.html">关于卡宝地</a></li>
                    <li class="news"><a href="#">最新资讯</a>
                        <ul>
                            <li><a href="activity.html">新闻活动</a></li>
                            <li><a href="action.html">行业资讯</a></li>
                        </ul>
                    </li>
                    <li class="news"><a href="product.html">定制服务</a>
                        <ul>
                            <li><a href="customization.html">服务介绍</a></li>
                            <li><a href="product.html">成品展示</a></li>
                        </ul>
                    </li>
                    <li class="news"><a href="profile.html">尊贵会员</a></li>
                    <li><a href="{{url('contact')}}">联系我们</a></li>
                </ul>
                <!--    <div class="visible-xs" style="position: absolute;right: 20px;top: 30px;z-index: 1000;color: #fff;">
                                                <button type="button" class="navbar-toggle collapsed" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                </div> -->
                <div class="enterLogin">
                    <div class="enterLogin-top"><a href="login.html">登录<span>|</span></a><a href="register.html">注册</a></div>
                </div>
            </div>
        </div>
        <!-- mobileNav -->
        <nav class="navbar navbar-default visible-xs-block" id="mobileNav">
            <div class="container-fluid ">

                <div class="navbar-header">

                    <a href="index.html"> <img src="img/logo.png" alt="图片加载失败" class="mobilelogo" style="position:absolute"/> </a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="inline-block;float:right;">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="glyphicon glyphicon-user userput" aria-hidden="true" href="login.html"  style="margin-top:17px;margin-right:10px;"></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li style="margin-right:-30px;overflow:hidden;">
                            <a href="index.html">首页</a>
                        </li>

                        <li  style="margin-right:-30px;overflow:hidden;">
                            <a href="about.html">关于卡宝地</a>
                        </li>

                        <li class="dropdown" >
                            <a href="#" class="dropdown-toggle divider" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-right:-30px;overflow:hidden;">最新资讯<span class="caret" style="margin-right:-30px;overflow:hidden;"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="activity.html" style="margin-right:-30px;overflow:hidden;">新闻活动</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                                <li><a href="action.html" style="margin-right:-30px;overflow:hidden;">行业资讯</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                            </ul>
                        </li>
                        <li class="dropdown" style="margin-right:-30px;overflow:hidden;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">定制服务
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="customization.html" style="margin-right:-44px;overflow:hidden;">服务介绍</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                                <li><a href="product.html" style="margin-right:-30px;overflow:hidden;">成品展示</a></li>
                                <li role="separator" class="divider" style="background:#000"></li>
                            </ul>
                        </li>
                        <li><a href="profile.html" style="margin-right:-30px;overflow:hidden;">尊贵会员</a></li>

                        <li><a href="{{url('contact')}}" style="margin-right:-30px;overflow:hidden;">联系我们</a></li>

                    </ul>

                </div>
            </div>
        </nav>
        <!-- nav02 -->
        <div id="cur-height"></div>
        <div class="container-fluid visible-xs-block" id="pro-phone-nav">
            <h3 class="text-left">成品展示</h3>
            <div class="text-center phone-cur" ><a href="#">KARBODY&nbsp;定制珠宝</a></div>
            <div class="text-center"><a href="#">耳环</a></div>
            <div class="text-center"><a href="#">吊坠</a></div>
            <div class="text-center"><a href="#">项链</a></div>
            <div class="text-center"><a href="#">戒指</a></div>
            <div class="text-center"><a href="#">手链</a></div>
            <div class="text-center"><a href="#">套件</a></div>
            </div><!-- nov02 -->
            <article class="container-fluid pro-list" style="position:relative;z-index:1">
                <div class="row">
                    <div class="col-sm-2 hidden-xs cat-list">
                        <ul>
                            <li>
                            <h3>KARBODY&nbsp;定制珠宝</h3></li>
                            <li><a href="#">耳环</a></li>
                            <li><a href="#">吊坠</a></li>
                            <li><a href="#">项链</a></li>
                            <li><a href="#">戒指</a></li>
                            <li><a href="#">手链</a></li>
                            <li><a href="#">套件</a></li>
                        </ul>
                    </div>
                    <div id="cur-height02"></div>
                    <div class="showWindow"></div>
                    <div class="col-sm-10 col-xs-12 item-list" id="product-pic">
                        <div class="row" id="product-img">
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive "></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-6 col-md-4 pro-item">
                                <a href="productsconten.html"><img src="img/serve/chanpintp.jpg" alt="图片加载失败" class="img-responsive"></a>
                            </div>
                        </div>
                        <div class="tabBar">
                            <ol>
                                <li>
                                    <div class="sevleftBut"></div>
                                </li>
                                <li>
                                    <ul>
                                        <li class="curInter">1</li>
                                        <li>2</li>
                                        <li>3</li>
                                        <li>4</li>
                                        <li>5</li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="sevrightBut"></div>
                                </li>
                            </ol>

                        </div>
                    </div>
                    <div class="mask"></div>
                </div>
            </article>
            <div class="bottom">
                <div class="copyright">
                    <ul>
                        <li class="contact-info">
                            <dl>
                                <dt>佛山市顺德区卡宝地珠宝有限公司</dt>
                                <dd>地 址：伦教荔村广珠路东荔村段北9号</dd>
                                <dd>电话：0757-2362 2248 &nbsp;&nbsp;&nbsp;&nbsp;QQ：3287539963</dd>
                                <dd>邮箱：karbody@sina.com</dd>
                            </dl>
                        </li>
                        <li class="copy-right">
                            <img src="img/two-dimension.jpg" alt="加载失败" width="100%" />
                        </li>
                        <li class="qr-text">
                            <p class="fonts">
                            扫一扫
                            <br/> 关注“卡宝地珠宝”
                            <br/> 微信公众平台
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <!--[if lt IE 9]>
                <div id="ie-alert-panel" role="alert" style="z-index: 999999;" class="navbar-fixed-bottom alert alert-danger">
                        <div style="text-align:center">
                            <p>请使用<span class="text-info">火狐浏览器访问</span>或者<span class="text-info">谷歌浏览器访问</span>.</p>
                            <p>如果你是使用IE浏览器请升级到<span class="text-info">IE8以上</span>.</p>
                            <p>如果你使用的是<span class="text-info">360浏览器、遨游浏览器、猎豹浏览器</span>请使用<span class="text-info">极速模式</span>浏览</p>
                            <button data-dismiss="alert" class="btn btn-default pull-right" type="button">关闭<tton>
                        </div>
                        
                </div>
            <![endif]-->
        </body>
        <script src="js/jquery-1.11.3.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script>
        /*响应式菜单*/
        $(document).ready(function(e){
        var clickcout = 0;
        $('button.navbar-toggle').click(function(){
        clickcout++;
        if(clickcout == 1 && $('.xs-menu').length == 0){

        $('.hidden-xs.menu').clone(true).appendTo($('.nav')).addClass('xs-menu');
        $('.xs-menu').css('display','none').removeClass('hidden-xs');
        }

        })
        })
        </script>
        <script src="js/public.js"></script>
    </html>